
.icon-asl:before { content: '\e800'; } /* '' */
.icon-award:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */